

body{
    width:100%;
    min-height: 100dvh;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0px;
}

/*Class Based Styling*/

.hidden{
    display:none;
}
h1{
    color: black;
    font-weight: bold;
}

.button{
    border-color: none;
    width: 250px;
    background-color: white;
    color: black;
    border-radius: 15px;
}
.header{
    height: 50px;
    width: 100%;
    background-image: url(./media/speed-tape.jpg);
}
.footer{
    height: 50px;
    width: 100%;
    background-image: url(./media/speed-tape.jpg);
    margin-top: auto;
}
.container-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}





/* Generic Styling */


p{
    margin: 5px;
}

/* ID BASED STYLING */

#registration-form{
    margin-top: 15px;
}
#police-logo{
    width: 400px;
}
#camera{
    width: 400px;
    margin-bottom: 20px;
}