

body{
    display:flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
}

/*Class Based Styling*/

.hidden{
    display:none;
}
h1{
    color: red;
    font-weight: bold;
}





/* ID BASED STYLING */