
body{
    background-color: #f5f5f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin:0;
    min-height: 100dvh;
}
header{
    background-color: #f5fbfb;
    font-weight: bold;
    margin:0;
}
a{
    text-decoration:none;
}
h1{
    font-size: 3rem;
    margin:0;
    margin-top: 50px;
}

.header-con{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding: 15px 0px;
}
.header-text-left{
    color: black;
    margin-left:20px;
}
.header-middle{
    display:flex;
    gap:50px;
}
.header-right{
    display: flex;
    align-items: center;
    gap:20px;
    margin-right: 20px;
}
.header-text{
    color: #98999e;
}
.button{
    background-color: black;
    font-size:medium;
    color: #f5fbfb;
    border:none;
    padding:7px 15px;
    border-radius: 10px;
}
#profile-icon{
    width:20px;
}

/* MAIN CONTENT STYLING */

.main-container{
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-para{
    margin-bottom: 50px;
    line-height: 1.8;
}
p{
    color: #7a7a7a;
    margin: 0;
}
.entry-para{
    line-height: 1.5;
}
.main-row{
    width:100%;
    display:flex;
    gap:50px
}
.row-con{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 13px 34px 54px -14px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    margin-bottom: 50px;
}
.row0-l{
    width:70%;
    padding: 20px;
    background-color: #f5fbfb;
}
.row0-l:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}
.row0-r{
    width:30%;
    padding: 20px;
    background-color: #f0f0f0;
}
.row0-r:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}
.row1-l{
    width:30%;
    padding: 20px;
    background-color: #f0f0f0;
}
.row1-l:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}
.row1-r{
    width:70%;
    padding: 20px;
    background-color: #f5fbfb;
}
.row1-r:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}
.row2{
    width:100%;
    padding:20px;
    background-color: #f0f0f0;
}
.row2:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}
.tags-con{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.tag-light{
    background-color: white;
    color: #707070;
    border-radius:4px;
    padding:6px;
}
.tag-dark{
    background-color: #707070;
    color: white;
    border-radius:3px;
    padding:4px 6px;    
}
.create-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:2px #707070 dashed;
    margin-bottom: 50px;
    padding: 20px;
}
#edit-icon{
    width: 50px;
}
.swn-link{
    margin-top: 25px;
    text-decoration: none;
    color: #5c5c5e;
    border-bottom: 2px black solid;

}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f5fbfb;
    padding: 25px 0px;
    color: #5c5c5e;
}
.footer a{
    color: #5c5c5e;
}
.foot-right{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.footer p{
    margin-left: 20px;
}
.hidden{
    display:none;
}