/* COLOUR STYLING */
:root{
    --background-color: #ffffff;
    --color: #000000;
    --background-image: (url:)  /* not sure if this is right?  */
}

[data-theme="dark"] {
    --background-color: #000000;
    --color: #ffffff;
}

/* SIZING STYLING */

/* Screen sizes 991px AND BELOW */
@media (max-width: 991px){

}
/* Screen sizes 1025 and BELOW */
@media (max-width: 1025){

}
/* Screen sizes 1281 and BELOW */
@media (max-width: 1281){

}
/* Screen sizes 1282px AND ABOVE */
@media (min-width: 1282) {

}

html, body {
    background-color: var(--background-color);
    color: var(--color);
    transition: all 0.3s ease;
}

body{
    display: flex;
    flex-direction: column;
    width: auto;
}
header{
    width:100%;
    display: flex;
    justify-content: center;
    gap:30px;
}
main{
    display:flex;
    justify-content: space-evenly;
}
.main-con-left{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.mcl-sub{
    width:20%;
    display:flex;
    flex-direction: column;
    gap: 2px;
}
.main-con-right{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.temp-preview{
    width:550px;
    height:300px;
    border: 1px gray solid;
    display:flex;
    justify-content: center;
    align-items: center;
}
footer{
    width:100%;
    display: flex;
    justify-content: center;
}


#chart-logo-main{
    width: 100%;
}