body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

#ul-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.remove-btn{
    margin-left:3px;
}