.profile-header{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top:15px;
}
.profile-name{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.profile-pic{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.edit-profile-icon{
    height: 30px;
    width: 30px;
}

.profile-personal-info{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.profile-personal-info-text{
    font-size: 0.9rem;
    color: white;
}
.edit-profile-container{
    z-index: 9;
    width:90%;
    height: 70%;
    position:absolute;
    margin-top:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow:auto;
    background: rgba(255, 255, 255, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 1);
}
.edit-profile-form{
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.edit-profile-form-h2{
    font-weight: bold;
    color: white;
}
.edit-profile-form-field{
    width: 70%;
    padding: 10px;
    border-radius:10px;
    border-radius: 15px;
    border:none;
    background:#483d8b;
    color:white;
}
.edit-profile-form-btn{
    border:none;
    border-radius: 15px;
    padding: 5px 15px;
    background: #483d8b;
    color: white;
}


.stats-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.stat-highlight-blocks{
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.stat-highlighted{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    width:45%;
    padding:5px;
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 1);
}
.stats-h2{
    font-weight: bold;
    color: white;
    margin-bottom:10px;
}
.stat-highlighted-game{
    font-size: 0.8rem;
    color: white;
}
.stat-highlighted-title{
    font-size: 0.8rem;
    color: white;
}
.stat-highlighted-value{
    font-size: 0.8rem;
    color: white;
}
.highlighted-game-span{
    color:#48e3ff;
    font-size: 0.9rem;
    font-weight: 700;
}
.hr-divider{        
    width:80%;
    border-top: #48e3ff 1px solid;
    margin-top:20px;
}
.profile-teams-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
}
.team-container{
    display: flex;
    gap:10px;
    justify-content: flex-start;
    align-items: center;
}
.profile-team-sub-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.profile-team-name{
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}
.profile-team-stat{
    font-size: 0.8rem;
    color: white;
}
.profile-team-image{
    height: 100px;
    width: auto;
    border-radius: 15px;
}
.profile-team-divider{
    width:60%;
    border-top: #48e3ff 1px solid;
}




