html, body {
    margin: 0;
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}
body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid black;
}
::-webkit-scrollbar { 
    display: none; 
}
p{
    margin:0;
}
.mobile-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:22%;
    height:80%;
    border-radius: 20px;
    margin:0 auto;
    /*background-color: #483d8b;*/
    background-image:url(./media/background-image-discord.png);
    filter: drop-shadow(4px 4px 10px rgba(0,0,0,0.5));
    overflow:auto;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    filter: drop-shadow(4px 4px 10px rgba(0,0,0,0.5));
    z-index: 10;
}
.banner-logo{
    width: 60%;
    height:auto;
}
.burger-menu{
    width: 10%;
    height:60%;
    padding-right: 10px;
}
.main-text{
    width:90%;
    display:flex;
    flex-direction: column;
    gap:7px;
    justify-content: flex-start;
    padding-left: 10px;
}
.main-text-profile-image-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.main-text-profile-image{
    width: 75px;
    height: 75px;
    border-radius: 10px;
    margin-right:20px;
}
.username{
    color: #48e3ff;
    font-weight: bold;
    font-size: 1.1rem;
}
.mt-sub{
    margin:2px;
}
.mt1{
    font-size: 0.8rem;
    color: lightgray;
    padding-top: 10px;
}
.mt2{
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
}
.mt3{
    font-size: 0.8rem;
    color: lightgray;
    padding-bottom: 10px;
}
.main-action-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}
.mab-txt{
    color: white;
    font-weight: bold;
}
.quick-match-btn{
    display: flex;
    justify-content: center;
    border: gray solid 1px;
    border-radius: 15px;
    width:35%;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 15px;
    padding-right: 15px;
}
.quick-match-btn:hover{
    background-color: #ffffff;
    color: #48e3ff;
    border: none;
    cursor: pointer;
}
.browse-btn{
    display: flex;
    justify-content: center;
    border: gray solid 1px;
    border-radius: 15px;
    width:35%;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 15px;
    padding-right: 15px;
}
.browse-btn:hover{
    background-color: #ffffff;
    color: #48e3ff;
    border: none;
    cursor: pointer;
}
.app-stats-container{
    display:flex;
    width:100%;
}
.app-stats-sub-container{
    width:33%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.30);
    border: rgb(255, 255, 255) solid 1px ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.stats-number{
    font-size: 1.3rem;
    font-weight: bold;
    color: #48e3ff;
    margin:0;
}
.stats-label{
    font-size: 0.7rem;
    color: lightgray;
    margin:0;
}
.fav-games-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    width:100%;
}
.fav-game{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    width:90%;
    padding-left:15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.7px);
    -webkit-backdrop-filter: blur(18.7px);
    border: 1px solid rgba(255, 255, 255, 1);
}
.fav-game:hover{
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
}
.fav-game-left-container{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    gap:20px;
    width:70%;
}
.fav-game-right-container{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    width: 20%;
}

.fav-text-container{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:15px;
}
.fav-game-text{
    padding-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
.fav-game-text-container{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.fav-game-text-1{
    font-size: 1.3rem;
    color:white
}
.fav-game-text-2, .fav-game-text-3{
    font-size: 0.7rem;
    color: lightgray;
}
.fav-game-find-more{
    color: #48e3ff;
    text-decoration: none;
    padding-right: 10px;
}
.fav-game-find-more-icon{
    height: 15px;
    width: 15px;
    margin-left: 2px;
}
.fav-game-icon{
    height: 40px;
    width: 40px;
}
.fav-game-rank-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:5px;
}
.fav-game-rank-icon{
    height: 30px;
    width: 30px;
}
.fav-game-rank-text{
    font-size: 1rem;
    font-weight: bold;
    color: #48e3ff;
}

.friends-list-container{
    width:90%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.friends-list-text-container{
display:flex;
flex-direction: column;
align-items: flex-start;
margin-top: 15px;
margin-bottom: 15px;
}
.fl-header-text{
font-size: 1.3rem;
font-weight: bold;
color: white;
}
.fl-sub-header-text{
font-size: 0.9rem;
color: lightgray;
}
.friends-table{
    width:100%;
    border-collapse: collapse;
}
.friend-item{

}
.friend-avatar{
height:50px;
width:50px;
border-radius:5px;
}
.friend-name{
font-weight: 600;
color: white;
}
.online{
    text-align: center;
    font-weight: 500;
    color: rgb(44, 168, 44);
}
.offline{
    text-align: center;
    font-weight: 500;
    color: rgb(250, 35, 35);
    border-radius: 15px;
}
.friend-msg{
    height:40px;
    width:40px;
}
.friend-msg:hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px rgba(255,255,255,0.8));
}






.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12%;
    width: 100%;
    position: sticky;
    bottom:0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(72, 61, 139, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
}
.footer-btn{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.footer-btn:hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px rgba(255,255,255,0.8));
}
.footer-btn-text{
    font-size: 0.7rem;
    color: lightgray;
    margin:0;
}
.footer-btn-image{
    width: 20px;
    height: 20px;
}
/* Use a morphism design - NEO MORPHISM / GLASS MORPHISM